In [27]:
import pandas as pd

**Extract**

In [28]:
# Caminho para o arquivo CSV
file_path = '../data_raw/gdvDespesasExcel.csv'
file_path2 = '../data_raw/gdvReceitasExcel.csv'

encodings = ['utf-8', 'latin1', 'iso-8859-1', 'utf-16', 'cp1252']

# Tentar ler o arquivo CSV com diferentes codificações
for encoding in encodings:
    try:
        despesas = pd.read_csv(file_path, encoding=encoding)
        receitas = pd.read_csv(file_path2, encoding=encoding)                     
        print(f"Arquivo lido com sucesso usando a codificação: {encoding}")
        break
    except UnicodeDecodeError:
        print(f"Erro de decodificação com a codificação: {encoding}")
    except Exception as e:
        print(f"Ocorreu um erro: {e}")

Erro de decodificação com a codificação: utf-8
Arquivo lido com sucesso usando a codificação: latin1

**Transform**

In [29]:
receitas.head()

,Fonte de Recursos,Receita,Arrecadado até 02/02/2024,Unnamed: 3
0,001 - TESOURO-DOT.INICIAL E CRED.SUPLEMENTAR,11130111 - IRRF - IMP.RENDA PESSOA FISICA-PRIN...,"4.267.858.335,83",NaN
1,001 - TESOURO-DOT.INICIAL E CRED.SUPLEMENTAR,11130311 - IRRF-IMP. RENDA RET. FTE-TRABALHO-P...,"4.323.772.997,93",NaN
2,001 - TESOURO-DOT.INICIAL E CRED.SUPLEMENTAR,11130341 - IRRF-OUTROS RENDIMENTOS-PRINCIPAL,"123.071.158,14",NaN
3,001 - TESOURO-DOT.INICIAL E CRED.SUPLEMENTAR,11180121 - IPVA - IMP. PROPR. VEIC. AUTOM - P...,"8.202.995.933,47",NaN
4,001 - TESOURO-DOT.INICIAL E CRED.SUPLEMENTAR,11180122 - IPVA - MULTAS E JUROS,"6.927,39",NaN

In [30]:
despesas.head()

,Fonte de Recursos,Despesa,Liquidado,Unnamed: 3
0,001 - TESOURO-DOT.INICIAL E CRED.SUPLEMENTAR,31900119 - ATRASADOS-OUTROS PODERES/MINIST.PUB...,"79.760.504,67",NaN
1,001 - TESOURO-DOT.INICIAL E CRED.SUPLEMENTAR,31900124 - COMPLEMENTACAO DE APOSENTADORIA,"1.850.834.374,26",NaN
2,001 - TESOURO-DOT.INICIAL E CRED.SUPLEMENTAR,31900125 - COMPLEMENTACAO DE APOSENTADORIA - 1...,"124.536.202,87",NaN
3,001 - TESOURO-DOT.INICIAL E CRED.SUPLEMENTAR,31900325 - COMPLEMENTACAO DE PENSAO,"10.948.297,00",NaN
4,001 - TESOURO-DOT.INICIAL E CRED.SUPLEMENTAR,31900326 - COMPLEMENTACAO DE PENSAO - 13º SALARIO,"521.632,30",NaN

In [31]:
despesas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2035 entries, 0 to 2034
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Fonte de Recursos  2034 non-null   object
 1   Despesa            2035 non-null   object
 2   Liquidado          2035 non-null   object
 3   Unnamed: 3         0 non-null      float64
dtypes: float64(1), object(3)
memory usage: 63.7+ KB

In [32]:
receitas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 285 entries, 0 to 284
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Fonte de Recursos          284 non-null    object
 1   Receita                    285 non-null    object
 2   Arrecadado até 02/02/2024  285 non-null    object
 3   Unnamed: 3                 0 non-null      float64
dtypes: float64(1), object(3)
memory usage: 9.0+ KB

In [33]:
despesas = despesas.drop(columns= ['Unnamed: 3'])
receitas = receitas.drop(columns= ['Unnamed: 3'])

In [34]:
#Excluir linhas nulas
despesas = despesas.dropna()
receitas = receitas.dropna()

In [35]:
despesas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2034 entries, 0 to 2033
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Fonte de Recursos  2034 non-null   object
 1   Despesa            2034 non-null   object
 2   Liquidado          2034 non-null   object
dtypes: object(3)
memory usage: 63.6+ KB

In [36]:
receitas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 284 entries, 0 to 283
Data columns (total 3 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Fonte de Recursos          284 non-null    object
 1   Receita                    284 non-null    object
 2   Arrecadado até 02/02/2024  284 non-null    object
dtypes: object(3)
memory usage: 8.9+ KB

In [37]:
# Limpar a coluna 'Valor' para remover pontos e substituir vírgula por ponto além de mudar o tipo da coluna para float
receitas['Arrecadado até 02/02/2024'] = receitas['Arrecadado até 02/02/2024'].str.replace('.', '').str.replace(',', '.').astype(float)
despesas['Liquidado'] = despesas['Liquidado'].str.replace('.', '').str.replace(',', '.').astype(float)

In [38]:
print(receitas.info())
print(despesas.info())

<class 'pandas.core.frame.DataFrame'>
Index: 284 entries, 0 to 283
Data columns (total 3 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Fonte de Recursos          284 non-null    object
 1   Receita                    284 non-null    object
 2   Arrecadado até 02/02/2024  284 non-null    float64
dtypes: float64(1), object(2)
memory usage: 8.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 2034 entries, 0 to 2033
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Fonte de Recursos  2034 non-null   object
 1   Despesa            2034 non-null   object
 2   Liquidado          2034 non-null   float64
dtypes: float64(1), object(2)
memory usage: 63.6+ KB
None

In [39]:
df_merge = pd.merge(despesas, receitas, on = 'Fonte de Recursos', how = 'outer')

In [40]:
df_merge

,Fonte de Recursos,Despesa,Liquidado,Receita,Arrecadado até 02/02/2024
0,001 - TESOURO-DOT.INICIAL E CRED.SUPLEMENTAR,31900119 - ATRASADOS-OUTROS PODERES/MINIST.PUB...,79760504.67,11130111 - IRRF - IMP.RENDA PESSOA FISICA-PRIN...,4267858335.83
1,001 - TESOURO-DOT.INICIAL E CRED.SUPLEMENTAR,31900119 - ATRASADOS-OUTROS PODERES/MINIST.PUB...,79760504.67,11130311 - IRRF-IMP. RENDA RET. FTE-TRABALHO-P...,4323772997.93
2,001 - TESOURO-DOT.INICIAL E CRED.SUPLEMENTAR,31900119 - ATRASADOS-OUTROS PODERES/MINIST.PUB...,79760504.67,11130341 - IRRF-OUTROS RENDIMENTOS-PRINCIPAL,123071158.14
3,001 - TESOURO-DOT.INICIAL E CRED.SUPLEMENTAR,31900119 - ATRASADOS-OUTROS PODERES/MINIST.PUB...,79760504.67,11180121 - IPVA - IMP. PROPR. VEIC. AUTOM - P...,8202995933.47
4,001 - TESOURO-DOT.INICIAL E CRED.SUPLEMENTAR,31900119 - ATRASADOS-OUTROS PODERES/MINIST.PUB...,79760504.67,11180122 - IPVA - MULTAS E JUROS,6927.39
...,...,...,...,...,...
63338,087 - OP.CRED.CONTR.EXTERIOR-DOT.INIC.CR.SUP-I...,44905112 - INSTALACOES,2545097.24,89100011 - INTEGRALIZACAO CAPITAL SOCIAL-PRINC...,46441531.83
63339,087 - OP.CRED.CONTR.EXTERIOR-DOT.INIC.CR.SUP-I...,44905130 - EXECUCAO DE OBRAS E INSTALACOES,32829959.39,89100011 - INTEGRALIZACAO CAPITAL SOCIAL-PRINC...,46441531.83
63340,087 - OP.CRED.CONTR.EXTERIOR-DOT.INIC.CR.SUP-I...,44905210 - VEICULOS DIVERSOS,755209.26,89100011 - INTEGRALIZACAO CAPITAL SOCIAL-PRINC...,46441531.83
63341,087 - OP.CRED.CONTR.EXTERIOR-DOT.INIC.CR.SUP-I...,44905234 - OUTROS EQUIPAMENTOS E MATERIAL PERM...,2098500.00,89100011 - INTEGRALIZACAO CAPITAL SOCIAL-PRINC...,46441531.83
63342,099 - EXTRA ORCAMENTARIA,NaN,NaN,13210011 - REMUNERACAO DEPOSITOS BANCARIOS - ...,0.00

**Load**

In [41]:
import pyodbc
from sqlalchemy import create_engine

In [42]:
#Criar a conexão com o banco SQL Server
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=BRUNA;'
    'DATABASE=dados_gov;'
    'UID=Bruna;'
    'Trusted_Connection=yes;'   
)

# Criar o engine do SQLAlchemy
engine = create_engine('mssql+pyodbc://', creator=lambda: conn)


# Salvar o DataFrame em tabela do SQL Server
despesas.to_sql('despesas', engine, if_exists='replace', index=False)
receitas.to_sql('receitas', engine, if_exists='replace', index=False)
df_merge.to_sql('despesas_receitas', engine, if_exists='replace', index=False)

# Fechar a conexão pyodbc
conn.close()